@import url("https://fonts.googleapis.com/css2?family=Alata&family=Comic+Neue:ital,wght@0,400;0,700;1,700&family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300;400&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* main{
    display: flex;
    justify-content: center;
} */
header {
  height: 75px;
  background-color: white;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}
.header-container {
  width: 1150px;
  /* background-color: red; */
}
.nav-items {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items img {
  width: 130px;
  height: 40px;
}
.nav-items a {
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  color: black;
  font-size: 18px;
  /* color: white; */
}
.banner-wrapper {
    /* width: 100%; */
    display: flex;
    justify-content: center;
  height: 350px;
  background-color: #2b2b3c;
}
.banner {
  display: flex;
  gap: 200px;
  /* align-items: center; */
  justify-content: center;
  text-align: center;    
}
.banner-left img {
  width: 100%;
  height: 380px;
}
.banner-right img {
  width: 60px;
  height: 60px;
}

.banner-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.qtorrent {
  color: #76b83f;
  font-weight: 700;
  font-size: 40px;
}
.web{
    font-size: 40px;
    font-weight: lighter !important;
}
.banner-right{
    margin-top: 40px;
}
.banner-right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #76b83f;
  font-size: 20px;
  margin: 30px 0px;
  padding: 10px 35px;
  color: white;
  border-radius: 4px;
}
.banner-right p {
  font-size: 22px;
  color: white;
  margin-bottom: 30px;
}
